.footer
  .footer__logo
    img(src='/img/logo.png' alt='Holibody logo')
  ul.footer__nav
    // : => M'évite de devoir indenter à la ligne l'élément enfant "a". Pour l'écrire directement en une ligne.
    li: a(href='#') About us
    li: a(href='#') Download apps
    li: a(href='#') Become a coach
    li: a(href='#') Careers
    li: a(href='#') Contact
  p.footer__copyright &copy; By Issam Boudhar. All rights reserved.

    
