doctype html 
html 
  head 
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    // #{valeur} => Me permet d'ajouter dynamiquement une valeur javascript dans du texte HTML
    link(rel='stylesheet' href='/css/home.css')
    link(rel='shorcut icon' type='image/png' href='/img/logo.png')
    link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,700' rel='stylesheet')
    title Holibody

  body
    .section.full-height.over-hide
      .switch-wrap
        .content
          h1.title
            | Welcome to Holibody 
            br
            |  The Human Travel
          a.button(href='/holis') CLICK HERE FOR ALL HOLIS
            .aurora
              .aurora__item
              .aurora__item
              .aurora__item
              .aurora__item
          